<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ path('account') }}" class="{% if app.request.get('_route') == 'account' %}active{% endif %}">Tableau de bord</a><i class="fa-solid fa-gauge"></i></li>
        {% if is_granted('ROLE_TEAM') %}
        <li class="list-group-item"><a href="#">A second item</a></li>
      {% endif %}
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#">Mot de passe</a><i class="fa-solid fa-key"></i></li>
        <li class="list-group-item d-flex justify-content-between align-items-center"><a class="text-danger" href="{{ path('logout') }}">Déconnexion</a><i class="fa-solid fa-right-from-bracket"></i></li>
    </ul>
</div>
