{% extends 'base.html.twig' %}

{% block title %}Votre réservation{% endblock %}

{% block body %}
<div class="container container-print-booking">
    <div class="row booking-header">
        <div class="booking-position col-12 col-md-6">
            Références
        </div>
        <div class="booking-customer col-12 col-md-6">
            Références clients
        </div>
    </div>
    <div class="row booking-content">
        <div class="col-md-7">
            Désignation
        </div>
        <div class="col-md-2">
            Prix unit.
        </div>
        <div class="col-md-1">
            Qté
        </div>
        <div class="col-md-2">
            Total
        </div>
        <!-- Mobil-home Basse Saison -->
        <div class="col-md-7">
            Jour location Mobil-Home (Basse Saison)
        </div>
        <div class="col-md-2">
            Prix unit.
        </div>
        <div class="col-md-1">
            Qté
        </div>
        <div class="col-md-2">
            Total
        </div>
        <!-- Mobil-home Haute Saison -->
        <div class="col-md-7">
            Jour location Mobil-Home (Haute Saison)
        </div>
        <div class="col-md-2">
            Prix unit.
        </div>
        <div class="col-md-1">
            Qté
        </div>
        <div class="col-md-2">
            Total
        </div>
        <!-- Ticket piscine Adulte -->
        <div class="col-md-7">
            Ticket piscine (Adulte)
        </div>
        <div class="col-md-2">
            Prix unit.
        </div>
        <div class="col-md-1">
            Qté
        </div>
        <div class="col-md-2">
            Total
        </div>
        <!-- Ticket piscine Enfant -->
        <div class="col-md-7">
            Ticket piscine (Enfant)
        </div>
        <div class="col-md-2">
            Prix unit.
        </div>
        <div class="col-md-1">
            Qté
        </div>
        <div class="col-md-2">
            Total
        </div>
    </div>
    <div class="row booking-payment">
        <div class="col-md-10 text-md-end">
            Total HT
        </div>
        <div class="col-md-2 text-md-end">
            amount
        </div>
        <div class="col-md-10 text-md-end">
            TVA 10%
        </div>
        <div class="col-md-2 text-md-end">
            amount
        </div>
        <div class="col-md-10 text-md-end">
            TVA 20%
        </div>
        <div class="col-md-2 text-md-end">
            amount
        </div>
        <div class="col-md-10 text-md-end">
            Total TTC
        </div>
        <div class="col-md-2 text-md-end">
            amount
        </div>
        <div class="col-md-10 text-md-end">
            (nbre) taxe de séjour adulte
        </div>
        <div class="col-md-2 text-md-end">
            amount
        </div>
        <div class="col-md-10 text-md-end">
            (nbre) taxe de séjour enfant
        </div>
        <div class="col-md-2 text-md-end">
            amount
        </div>
        <div class="col-md-10 text-md-end">
            Total à payer
        </div>
        <div class="col-md-2 text-md-end">
            amount
        </div>
    </div>
</div>
{% endblock %}
