{% extends 'base.html.twig' %}

{% block title %}Votre réservation{% endblock %}

{% block body %}
<div class="container container-print-booking">
    <h1>{{ controller_name }}</h1>
</div>
{% endblock %}
