<section id="introduction" class="py-5">
    <div class="container py-5">
        <h2 class="section-title text-center">camping pour détente amicale et familiale</h2>
        <p class="section-headline text-center py-4">
            Situé en plein cœur de la nature, notre camping coopératif propose une expérience unique et conviviale,
            avec différents types d'emplacements pour répondre à tous les besoins.
            Que vous cherchiez un mobile-home confortable ou un emplacement pour votre tente, vous trouverez votre
            bonheur chez nous.
        </p>
        <div class="row">
            <div class="col-md-4 pb-5">
                <div class="card card-front text-center">
                    <img class="card-img-top card-img-front" src="/img/photos/mobilhomes-confort-sur-la-plage.webp" width="320" height="180" alt="Les Mobilhomes Confort de l'Espadrille volante">
                    <cite class="text-mutted">
                        Photo de <a href="https://unsplash.com/@hypnoseworld?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Linda de Ruiter</a> sur <a href="https://unsplash.com/fr/s/photos/mobilhome?orientation=landscape&utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </cite>
                    <div class="card-body">
                        <h3 class="card-title">
                            Mobilhomes Confort
                        </h3>
                        <p class="card-text card-text-front py-2">
                            Le Mobile Home Confort : un hébergement spacieux et confort pour des vacances sereines.
                        </p>
                        <a href="#" class="btn btn-camping mb-3 py-2 px-4">vous voulez en savoir plus ?</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-5">
                <div class="card card-front text-center">
                    <img class="card-img-top card-img-front" src="/img/photos/caravane-hyper-cosy.webp" width="320" height="180" alt="Les Caravanes Cosy de l'Espadrille volante">
                    <cite class="text-mutted">
                        Photo de <a href="https://unsplash.com/@blakewisz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Blake Wisz</a> sur <a href="https://unsplash.com/fr/s/photos/caravane?orientation=landscape&utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </cite>
                    <div class="card-body">
                        <h3 class="card-title">
                            Caravanes Cosy
                        </h3>
                        <p class="card-text card-text-front py-2">
                            La Caravane Cosy : un hébergement insolite pour profiter de vacances cool en mode glamping.
                        </p>
                        <a href="#" class="btn btn-camping mb-3 py-2 px-4">vous voulez en savoir plus ?</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-5">
                <div class="card card-front text-center">
                    <img class="card-img-top card-img-front" src="/img/photos/une-place-a-l-ombre.webp" width="320" height="180" alt="Les Places à l'Ombre de l'espadrille Volante">
                    <cite class="text-mutted">
                        Photo de <a href="https://unsplash.com/@scottagoodwill?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Scott Goodwill</a> sur <a href="https://unsplash.com/fr/s/photos/tente?orientation=landscape&utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </cite>
                    <div class="card-body">
                        <h3 class="card-title">
                            Places à l'Ombre
                        </h3>
                        <p class="card-text card-text-front py-2">
                            La Place à l'Ombre : un environnement ombragé pour planter sa tente et profiter des soirées.
                        </p>
                        <a href="#" class="btn btn-camping mb-3 py-2 px-4">vous voulez en savoir plus ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        Section 2
    </div>
</section>