/*------------------------------------
  custom SCSS style
------------------------------------*/
:root {
    --bs-body-font-family: Montserrat, sans-serif;
    --bs-body-font-weight: 200;
}
.dropdown-toggle::after {
    border-top: none;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.btn {
    border-radius: 10rem;
}
.btn-owner-action {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.15rem 0.6rem;
    margin-bottom: 0.5rem;
}
.accommodation, .stay, .date {
    font-size: 0.8rem;
}

.table-team-booking > tr.vat {
    font-size: 0.8rem;
}
.table-team-booking th, .table-team-booking td {
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
}
.table-team-booking th.vat, .table-team-booking td.vat {
    font-size: 0.7rem;
}
.table-owner-positions tr {
    font-size: 0.8rem;
    font-weight: 400;
}
