{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {% if app.request.get('_route') == 'app_home' %}
        <div class="heading front-heading pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex align-items-center">
                        <div>
                            <h1>Bienvenue au Camping de l'Espadrille Volante</h1>
                            <p class="intro py-3 py-lg-4">Bonjour et bienvenue au Camping de l'Espadrille Volante, le lieu idéal pour passer des vacances mémorables en famille ou entre amis !</p>
                            <div class="text-center text-md-end pe-lg-4"><a href="{{ path('app_about') }}" class="btn btn-lg btn-camping-secondary">Découvrez le camping !</a></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 my-5 mt-md-0 text-md-end">
                        <img src="/img/photos/famille-camping.webp" class="img-fluid" alt="Famille heureuse dans un camping en plein air">
                    </div>
                </div>
            </div>
        </div>
        <div class="content front-content">
            {% include '_content/_homepage.html.twig' %}
        </div>
    {% elseif app.request.get('_route') == 'app_about' %}
        <div class="heading contact-heading">
            <div class="container">
                <h1>{{ page_title }}</h1>
            </div>
        </div>
        <div class="content contact-content">
            {% include '_content/_camping.html.twig' %}
        </div>
    {% elseif app.request.get('_route') == 'app_contact' %}
        <div class="heading contact-heading">
            <div class="container">
                <h1>{{ page_title }}</h1>
            </div>
        </div>
        <div class="content contact-content">
            {% include '_content/_contact.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
