<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{{ company.name }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

            {% include '_partials/_header_basic.html.twig' %}

        <main>
        {% block body %}{% endblock %}
        </main>
        <footer>
            {% include '_partials/_footer.html.twig' %}
        </footer>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script>
        (function() {
          new HSHeader('#header').init()
          new HSMegaMenu('.js-mega-menu')
        })();
    </script>
</html>
